<div class="container" *ngIf="profile != null">
  <div class="row">
    <div class="twPc-div">
      <a class="twPc-bg twPc-block"></a>
      <div>

        <a title="Profile picture" href="../../../../assets/profile.png" class="twPc-avatarLink">
          <img alt="Profile picture" src="../../../../assets/profile.png" class="twPc-avatarImg">
        </a>

        <div class="twPc-divUser">
          <div class="twPc-divName">
            <p>{{profile.fullName}}</p>
          </div>
          <span>
				<p>@<span>{{profile.username}}</span></p>
			</span>
        </div>

        <div class="twPc-divStats">
          <ul class="twPc-Arrange">
            <li class="twPc-ArrangeSizeFit">
              <p title="{{profile.numberOfTweets}} Tweet">
                <span class="twPc-StatLabel twPc-block">Tweets</span>
                <span class="twPc-StatValue">{{profile.numberOfTweets}}</span>
              </p>
            </li>
            <li class="twPc-ArrangeSizeFit">
              <p title="{{profile.numberOfFollowing}} Following">
                <span class="twPc-StatLabel twPc-block">Following</span>
                <span class="twPc-StatValue">{{profile.numberOfFollowing}}</span>
              </p>
            </li>
            <li class="twPc-ArrangeSizeFit">
              <p title="{{profile.numberOfFollowers}} Followers">
                <span class="twPc-StatLabel twPc-block">Followers</span>
                <span class="twPc-StatValue">{{profile.numberOfFollowers}}</span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
